<div class="card">
    <div class="card-body center">
        <h5 class="card-title logo"><img class="img-fluid hover" style="width:75px;" src="assets/img/vireo.png"
                alt="#">Vireo</h5>
        <h1 class="card-text">what's your next adventure?</h1>
         <h2 class="sentence card-text">I'm going to
            <div class="verticalFlip">
                <span class="rotatingText-adjective">Spain.</span>
                <span class="rotatingText-adjective">Mexico.</span>
                <span class="rotatingText-adjective">Russia.</span>
                <span class="rotatingText-adjective">France.</span>
                <span class="rotatingText-adjective">Italy.</span>
            </div>
        </h2>
       {{> data}}
    </div>
</div>

<hr>



<div class="container-sm container-md container-lg container-xl">
    <!-- Restrictions -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Travel Restrictions</h1>
                    <div class="card-body">
                        (api results)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Country info -->
    <div class="row ">
        <div class="col-lg-6" id="currencyDiv">
        </div>
        <div class="col-lg-6">
            <div class="card" id="keyPhrases" style="visibility: hidden">
                <div class="card-body">
                    <h1 class="card-title">Key Phrases: </h1>
                    <div class="card-body">
                        {{#each language}}
                            <p>{{dataValues.name}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Top 5 lists -->
    <div class="row">
        <div class="col-lg-4">
            <div class="card topFive" style="visibility: hidden">
                <div class="card-body">
                    <h1 class="card-title">Top 5 Sightseeing Spots</h1>
                    <div class="card-body">
                        <ul>
                            {{#each sights}}
                                <li>{{dataValues.name}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card topFive" style="visibility: hidden">
                <div class="card-body">
                    <h1 class="card-title">Top 5 Restaurants</h1>
                    <div class="card-body">
                        <ul>
                            {{#each restaurants}}
                                <li>{{dataValues.name}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card topFive" style="visibility: hidden">
                <div class="card-body">
                    <h1 class="card-title">Top 5 Museums</h1>
                    <div class="card-body">
                        <ul>
                            {{#each museums}}
                                <li>{{dataValues.name}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card" id="funFact" style="visibility: hidden">
                <div class="card-body">
                    <h1 class="card-title">Fun Fact</h1>
                    <div class="card-body">
                        {{#each funfact}}
                            <p>{{dataValues.name}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrapper" id="btnDiv" style="visibility: hidden">
    <a href="https://google.com/hotels" target="_blank">
        <button class="btn book">Book a Hotel</button>
    </a>
    <a href="https://google.com/flights" target="_blank">
        <button class="btn book">Book a Ticket</button>
    </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/countries.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
